.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.cute-card {
    width: 18rem;
    
}
.header {
    background-color: #563D7C;
}